* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  max-width: 1440px;
} 

body {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
    "header-area"
    "main-area"
    "footer-area";
}

.main-header {
  background-color: bisque;
  display:grid;
  grid-template-columns: 15% auto 25%;
  grid-template-rows:100px;
  grid-gap: 10px;
  grid-template-areas: 
  "logo nav-bar search-bar";
}
.logo{ 
align-items: center;
display: flex;
justify-content: center;
grid-area: logo;
background-color: grey;
}
.logo a{
  text-decoration: none;
}
.nav-bar{
  align-items: center;
  display: flex;
  justify-content: center;
}
.more{
  padding: 10px;
  background-color: grey;
}

.nav-bar  li {
font-family: sans-serif;
font-size: 25px;
border-radius: 10px;
text-align: center;
display: inline;
align-content: center;
flex-direction: row;
grid-area: nav-bar;
//background-color: brown;
}
.nav-bar ul a{
  margin-right:10px;
  margin-left: 10px;
  border-radius: 10px;
  color:white;
  text-decoration: none;
  //align-content: center;
}
.nav-bar a:hover {
  padding: 10px;
  background-color: brown;
}
input::placeholder{
  color:black;
}

.search-bar{
  display: flex;
  justify-content: center;
  grid-area: search-bar;
  background-color: cyan;
}
.search-bar_area {
  margin: auto;
  width:80%;
  height:50%;
  border-radius: 10px;
  font-size: 20px;
  text-align-last: center;
}

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;

}

.main-content {
  grid-area: main-area;
  width: 100%;
}

.featured-article {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 10px;
  grid-template-areas:
    "article1 article2"
    "article3 article4";
}

.featured-article_1 {
  grid-area: article1;
  background-color: gray;
}

.featured-article_2 {
  grid-area: article2;
  background-color: lightgray;
}

.featured-article_3 {
  grid-area: article3;
  background-color: gray;
}

.featured-article_4 {
  grid-area: article4;
  background-color: lightgray;
}

.about-smasshing-membership {
  background-color: gray;
  height: 300px;
  margin: 10px 0;
}

.about-smashing-membership_button {
  background-color: rgb(17, 15, 15);
  color: white;
}

.latest-posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(5, 300px);
  grid-gap: 5px;
  grid-template-areas:
    "latest_post latest_post latest_post" 
    "post1 post2 post3"
    "post4 post5 post5"
    "post6 post7 post8"
    "post9 post-tv post-tv"
}

.latest-posts_heading {
  grid-area: latest_post;
  background-color: gray;
  margin: 10px 0;
}

.latest-post_article_1 {
  grid-area: post1;
  background-color: gray;
}

.latest-post_article_2 {
  grid-area: post2;
  background-color: gray;
}

.latest-post_article_3 {
  grid-area: post3;
  background-color: gray;
}

.our-friends {
  grid-area: post4;
  background-color: gray;
}

.smashing-members {
  grid-area: post5;
  background-color: gray;
}

.latest-post_article_4 {
  grid-area: post6;
  background-color: gray;
}

.latest-post_article_5 {
  grid-area: post7;
  background-color: gray;
}

.latest-post_article_6 {
  grid-area: post8;
  background-color: gray;
}

.latest-post_article_7 {
  grid-area: post9;
  background-color: gray;
}

.article-smashing_tv {
  grid-area: post-tv;
  text-align: center;
  background-color: gray;
  height: 300px;
}

.latest-articles-p {
  background-color: gray;
  margin: 50px 0;
}

.shipping-now {
  background-color: gray;
  height: 300px;
  margin-bottom: 10px;
}

.community-links {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, 300px);
  grid-gap: 5px;
  grid-template-areas: 
    "pow pow"
    "com-link1 com-link2"
    "com-link3 com-link4"
    "com-link5 com-link6"
}

.person-of-the-week {
  grid-area: pow;
  background-color: gray;
}

.community-links-article_1 {
  grid-area: com-link1;
  background-color: gray;
}

.community-links-article_2 {
  grid-area: com-link2;
  background-color: gray;
}

.community-links-article_3 {
  grid-area: com-link3;
  background-color: gray;
}

.community-links-article_4 {
  grid-area: com-link4;
  background-color: gray;
}

.community-links-article_5 {
  grid-area: com-link5;
  background-color: gray;
}

.community-links-article_6 {
  grid-area: com-link6;
  background-color: gray;
}

.more-links-twitter {
  margin: 10px 0;
  background-color: gray;
}

.featured-smashing-books {
  margin: 10px 0;
  background-color: gray;
  height: 300px;
}

.our-guides {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 300px 500px;
  grid-gap: 5px;
  grid-template-areas: 
    "guide1 guide2"
    "guide3 guide4";
}

.our-guides_1 {
  grid-area: guide1;
  background-color: gray;
}

.our-guides_2 {
  grid-area: guide2;
  background-color: gray;
}

.our-guides_3 {
  grid-area: guide3;
  background-color: gray;
}

.email-newsletter {
  grid-area: guide4;
  background-color: gray;
}

.see-all-guides {
  text-align: center;
  margin: 10px 0;
  //background-color: gray;
}
.see-all-guides a{
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: #EA215A 0.35em solid;
}

.main-footer  {
  grid-area: footer-area;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 100px;
  background-color: gray;
}
.main-footer h4{
  font-family: 'Times New Roman', Times, serif;
  padding-top:50px;
  text-align: center;
  padding-bottom: 50px;
}
.footer-nav {
  max-width: 1440px;
}

.footer-nav_links {
  width: 95%;
  margin: auto;
  text-align: center;
 
}

.footer-nav_links li {
  display: inline;
  font-size: 30px;
  margin:5px;
  
}

.footer-nav_links a{
text-decoration: none;
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
}
.italic {
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 15px;
}

.other-footer_contents  {
   font-family:'Times New Roman', Times, serif;
   text-align: center;
   margin-top: 50px;
}
.other-footer_contents p{
  font-family: 'Times New Roman', Times, serif;
  line-height:25px;
}

.other-footer__links {
  margin-top: 20px;
  text-align: center;
}

.other-footer__links li{
  margin-bottom: 20px;
  margin-left: 10px;
  display: inline-block;
}
.other-footer__links2 li{
  margin-left: 10px;
  display: inline-block;
}
.other-footer__links2  {
  display: inline-block;
  text-align: center;
}
.other-footer__links a{
  font-family: 'Times New Roman', Times, serif;
}

.other-footer__links2 a{
  font-family: 'Times New Roman', Times, serif;
}